@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 96px;
text-align: left;
line-height: 112px;
color: rgba(0, 0, 0, 0.87);
}

h2 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
text-align: left;
letter-spacing: 11.5px;
text-transform: uppercase;
}